[Unit]
Description=Run Qdrant Ingestion every 15 minutes
Requires=ingest.service

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target