[Unit]
Description=Run Document Manifest Generation hourly
Requires=manifest.service

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target